/* ^ import and handling fonts */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=Pacifico&family=Righteous&display=swap");
h1 {
  font-family: "Pacifico", cursive;
  font-style: normal;
}
h2 {
  font-family: "Righteous", sans-serif;
  font-style: normal;
}
body {
  font-family: "PT Sans Caption", sans-serif;
  font-style: normal;
}
/* ^ global rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  --background-color: #f7ecde;
  --trick-color: #fec260;
  --first-gradient-color: #3fa55c;
  --second-gradient-color: #b3ac49;
}
@media (max-width: 992px) {
  :root {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  :root {
    font-size: 14.5px;
  }
}
@media (max-width: 576px) {
  :root {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  :root {
    font-size: 9px;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  padding-inline: 1.25rem;
  margin-inline: auto;
  width: 100%;
}
@media (min-width: 576px) {
  .container {
    width: 32.5rem;
  }
}
@media (min-width: 768px) {
  .container {
    width: 46.875rem;
  }
}
@media (min-width: 992px) {
  .container {
    width: 60rem;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 71.875rem;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 81.25rem;
  }
}
/* ^ App Style */
.app {
  position: relative;
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 3.125rem;
}
.app .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  display: none;
}
.app .hint-card {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 888;
  background-color: white;
  border-radius: 0.625rem;
  padding: 2.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
  width: 50%;
  display: none;
}
@media (max-width: 1000px) {
  .app .hint-card {
    width: 90% !important;
  }
}
.app .hint-card > i {
  position: absolute;
  top: 2.09375rem;
  right: 2.1875rem;
  font-size: 1.875rem;
  cursor: pointer;
  transition: color 0.3s;
  color: #444;
}
.app .hint-card > i:hover {
  color: #F15F5D;
}
.app .hint-card .circles {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 0.625rem;
  margin-bottom: 1.875rem;
}
.app .hint-card .circles span {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}
.app .hint-card .circles span:nth-of-type(1) {
  background-color: #F15F5D;
}
.app .hint-card .circles span:nth-of-type(2) {
  background-color: #FEBE2E;
}
.app .hint-card .circles span:nth-of-type(3) {
  background-color: #4DB748;
}
.app .hint-card p {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 1.5625rem;
}
.app .hint-card ul {
  margin-left: 1.25rem;
}
.app .hint-card ul li {
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.125rem;
  padding-left: 1.5625rem;
}
.app .hint-card ul li i {
  position: absolute;
  top: 54%;
  left: 0;
  transform: translateY(-50%);
  font-size: 0.625rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.125rem solid #BB4120;
  color: #BB4120;
}
.app header h1 {
  position: relative;
  font-size: 3.125rem;
  font-weight: 500;
  width: fit-content;
  margin-inline: auto;
  isolation: isolate;
  margin-block: 2.5rem;
  letter-spacing: 0.1875rem;
}
.app header h1::before {
  content: "";
  position: absolute;
  height: 20%;
  bottom: 0.9375rem;
  left: 0;
  right: -0.3125rem;
  background-color: var(--trick-color);
  z-index: -1;
  transition: height 0.3s;
}
.app header h1:hover::before {
  height: 45%;
}
.app .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
}
.app .hero i {
  font-size: 1.875rem;
  position: relative;
  top: 0.0625rem;
}
.app .hero i:nth-of-type(1) {
  color: var(--first-gradient-color);
}
.app .hero i:nth-of-type(2) {
  color: var(--second-gradient-color);
}
.app .body {
  border-top: 0.125rem solid var(--first-gradient-color);
  border-bottom: 0.125rem solid var(--second-gradient-color);
  padding-block: 1.875rem;
}
.app .hero {
  margin-block: 0px 2.5rem;
}
.app .hero h2 {
  font-weight: 500;
  font-size: 1.75rem;
  background-image: linear-gradient(
    to right,
    var(--first-gradient-color),
    var(--second-gradient-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.app .input-icon i,
.app .input-icon span {
  font-size: 1rem;
  font-weight: 600;
  margin-right: 0.3125rem;
}
.app .input {
  position: relative;
  margin-bottom: 1.125rem;
}
.app .input i {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  font-size: 1.25rem;
  font-weight: 600;
  right: 0.625rem;
}
.app .input i.icon-tick {
  color: var(--first-gradient-color);
  display: none;
}
.app .input i.icon-error_outline {
  color: red;
  display: none;
}
.app input {
  border: 0.0625rem solid #ccc;
  outline: none;
  padding: 0.75rem;
  border-radius: 0.3125rem;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #333;
}
.app input.error {
  border-color: red;
  transition: box-shadow 0.3s;
}
.app input.error:focus {
  box-shadow: 0 0 0.0625rem 0.25rem rgba(255, 0, 0, 0.173);
}
.app input.ok {
  border-color: green;
  transition: box-shadow 0.3s;
}
.app input.ok:focus {
  box-shadow: 0 0 0.0625rem 0.25rem rgba(0, 128, 0, 0.173);
}
.app input::placeholder {
  color: #777;
  font-size: 1rem;
  text-transform: capitalize;
}
.app button#addBookmarkBtn {
  margin-inline: auto;
  display: block;
  width: fit-content;
  padding: 0.75rem 1.25rem;
  border: none;
  background-color: var(--first-gradient-color);
  color: white;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 1.6875rem;
  transition: background-color 0.3s;
}
.app button#addBookmarkBtn:hover {
  background-color: var(--second-gradient-color);
}
.app .bookmarks-list {
  margin-top: 1.25rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.08);
  width: 100%;
  margin-bottom: 1.875rem;

}
.app .bookmarks-list .table {
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
}
.app .bookmarks-list table {
  width: 100%;
  background-color: white;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  border-collapse: collapse;
}
.app .bookmarks-list table thead th {
  padding: 0.9375rem;
}
.app .bookmarks-list table thead {
  position: relative;
  display: none;
}
.app .bookmarks-list table thead::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    var(--first-gradient-color),
    var(--second-gradient-color)
  );
  height: 0.0625rem;
  width: 100%;
  bottom: 0;
  left: 0;
}
.app .bookmarks-list table tbody tr td:first-child {
  font-weight: 600;
}
.app .bookmarks-list table tbody tr td {
  text-align: center;
  border-top: 0.0625rem solid #ccc;
  padding: 0.9375rem;
}
.app .bookmarks-list table tbody tr td a {
  padding: 0.625rem 1.25rem;
  border: none;
  background-color: var(--first-gradient-color);
  color: white;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 0.4375rem;
  transition: background-color 0.3s;
}
.app .bookmarks-list table tbody tr td a:hover {
  background-color: #3c9655;
}
.app .bookmarks-list table tbody tr td button {
  padding: 0.625rem 1.25rem;
  border: none;
  background-color: #d0512d;
  color: white;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  margin-left: 0.4375rem;
  transition: background-color 0.3s;
}
.app .bookmarks-list table tbody tr td button:hover {
  background-color: #b34020;
}
.app button#deleteAllBtn {
  margin-inline: auto;
  display: block;
  width: fit-content;
  padding: 0.75rem 1.25rem;
  border: none;
  background-color: #d0512d;
  color: white;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1.875rem;
  transition: background-color 0.3s;
  display: none;
}
.app button#deleteAllBtn:hover {
  background-color: #b34020;
}
/* ^ footer style */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--first-gradient-color),
    var(--second-gradient-color)
  );
  margin-inline: auto;
  
  color: white;
  padding: 1rem;
  text-align: center;
}

